**/.git
**/node_modules
**/vendor
**/.nuxt
**/.output
**/dist
**/storage/logs/*
**/storage/framework/cache/*
**/.DS_Store
**/*.swp
**/*.log
docker-compose*.yml
Makefile
plans/
*.md
.env*
!.env.example
